*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

html{
    height: 100vh;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    color: #393c41;
}

a{
    text-decoration: none;
    color: inherit;
}

/*100% width*/
header, main, footer{
    width: 100%;
}

/*header stylings*/
header{
    box-shadow: 0 4px 4px lightblue;
    background-color: #fff;
    position: fixed;
    z-index: 3;
}

#header{
    height: 3.5em;
    padding: 0 7.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header > nav {
    width: 40%;
}

#headerNav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    font-weight: bold;
}

#headerNav > li {
    margin-left: 10%;
}

/*Main section*/
main{
    padding-top: 3.5em;
    min-height: 75%;
    overflow-y: auto;
}

.wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0 10%;
}

#mainView{
    height: 30em;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.view{
    width: 100%;
    min-height: 25em;
    text-align: center;
}

#view2{
    flex-direction: column;
}

#introText{
    font-weight: bold;
    font-size:4em;
}

.content{
    flex:1;
}

#firstImg{
    width: 100%;
    height: 100%px;
    border-radius: 5%;

    box-shadow: 0 0 1em -0.5em rgba(0, 0, 0);
}

#view2 > .wrapper{
    flex-direction: row;
}

.cards{
    justify-content: space-between;
    align-items: center;
}

.card{
    width: 15em;
    height: 16.25em;
    border-radius: 1em;
    background-color: #fff;

    box-shadow: 0 0 1em -0.5em rgba(0, 0, 0);
    margin: 0 2em;
    position: relative;
}

.card > img{
    height: 100%;
    width: 100%;
    border-radius: 1em;
}

.gradient{
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.information{
    width: 15em;
    text-align: left;
    margin: 0 5em;
    margin-top: 5em;
}

.information > .heading{
    padding-bottom: 1em;
}

/*footer*/
footer{
    background-color: #0d1117;
    color: #fff;
    height: 18.75em;
    font-size: 0.7em;
    font-weight: lighter;
}

#footer{
    height: 100%;
    background-color: #0d1117;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
    padding-top: 10px;
}

#contacts > h4{
    text-align: center;
    margin-bottom:1em;
}

#footerNav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#contacts > h3{
    margin-bottom: 1em;
}

#footerNav > li{
    margin-right: 1.2em;
}

#copyright{
    border-top:1px solid lightblue;
    padding-top: 1em;
}

/*Icons*/
i{
    font-size: 1.5em;
}

/*Media queries*/
@media only screen and (max-width: 600px) {

    /*footer*/
    #footerNav{
        flex-direction: column;
    }

    #footerNav > li{
        padding-bottom: 1em;
    }

    /*about section*/
    #view2 > .wrapper {
        flex-direction: column;
    }

    /*main view*/
    .mainView{
        flex-direction: column;
    }

    /*Administration*/
    .cards{
        flex-direction: column;
    }

    .cards{
        margin: 10% 0;
    }

    .card{
        margin: 10% 0;
    }
}