*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

html{
    height: 100vh;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

/*100% width*/
header, main, footer{
    width: 100%;
}

/*header stylings*/
#header{
    height: 3.5em;
    padding: 0 16px;
    box-shadow: 0 4px 4px lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header > nav {
    width: 40%;
}

#headerNav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    font-weight: bold;
}

#headerNav > li {
    margin-left: 10px;
}

/*Main section*/
main{
    min-height: 75%;
    overflow-y: auto;
}

#mainSection{
    padding: 20px 10%;
}

#mainView{
    height: 24em;
    display: flex;
    align-items: center;
}

.center{
    display: flex;
    flex-direction: row;
}

.view{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
}

#introText{
    font-weight: bold;
    font-size:xx-large;
}

#firstImg{
    width: 100%;
    height: 100%px;
    border-radius: 5%;
}
/*footer*/
footer{
    border-top: 1px solid lightblue;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10%;
    padding-top: 10px;
}

#footerNav{
    list-style-type: none;
}